@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
	--resultBox-color: #f0f0f0;
	--resultBox-title-color: #104238;
	--resultBox-title-color-visited: 
}

.dark {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
	--resultBox-color: #262640;
	--resultBox-title-color: #3DFFD8;
	--resultBox-title-color-visited: #1F806C;
}

.dark .iconRow img:not(#metacritic) {
	filter: invert();
}

* {
	font-family: 'Roboto', sans-serif;
}

html {
	position: relative; 
	border-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-itemst: center;
	overflow: auto;
}


body {
	position: relative;
	width: 100%;
    background-color: var(--bg-color);
	color: var(--font-color);
	overflow: auto;
}

header {
	width: 95%;
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a {
	color: var(--font-color);
	text-decoration: none;
}

.searchbar {
	position: relative;
	top: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.searchbar p {
	margin-top: -10%;
	align-self: center;
	color: var(--font-color);
	font-size: 32px;
}

.searchbar form {
	line-height: 30px;
	border: 1px solid #777; 
	border-radius: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


.searchbar input {
	border: none;
	color: var(--font-color);
	background-color: var(--bg-color);
}

.searchbar input[type="submit"] {
	font-weight: bold;
	background-color: black;
	background:url(/media/magnifier.png) no-repeat;
}

.searchbar #formdivider {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: inherit;
	border-top: 1px solid #777;
}

.searchbar.display {
	position: relative;
	top: 10%;
}

#extendMore {
	margin-top: -2px;
	padding: 3px 10px 3px 10px;
	border: 1px solid #777;
	border-top: 1px solid var(--bg-color);
	border-radius: 5px;
	background-color: var(--bg-color);
	color: var(--font-color);
}

#formdivider {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: flex-start;
}

#formdivider input {
	margin: 0;
	margin-top: 10px;
	border-radius: 3px;
	background-color: var(--secondary-color);
	text-align: right;
}

#formdivider input[type=number] { 
    -moz-appearance:textfield; 
} 

#formdivider input[type=number]::-webkit-inner-spin-button, 
#formdivider input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 

#booleanForm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.resultList {
	position: relative;
	top: 12%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.resultList .error {
	align-self: center;
	text-align: center;
	color: red;
	font-weight: bold;
}

.result {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	background-color: var(--resultBox-color);
}

.result .title {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
	color: var(--resultBox-title-color);
}

.result .title a:visited {
	color: var(--resultBox-title-color-visited);
}

.result .description {
	margin-top: 10px;
	color: var(--font-color);
	text-transform: capitalize;
	text-wrap: wrap;
	
}

.result .genreList {
	display: flex;
	flex-direction: row;
}

.result .genre {
	color: white;
	display: border-box;
	border: 1px solid #EB5E59;
	background-color: #EB5E59;
	border-radius: 20px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 8px;
	margin-right: 5px;
	font-weight: bold;
}

.result img {
	overflow: auto;
	float: left;
	margin-right: 10px;
	width: auto;
	max-height: 100px;
}

.resultMain {
	display: flex;
	flex-direction: row;
}

.iconRow {
	display: flex;
	align-items: center;
	margin-left: 30px;
	color: white;
}

.iconRow img {
	margin-top: -5px;
	width: 24px;
	height: 24px;
}

.numberImages {
	color: var(--font-color);
	display: inline-block;
	margin-left: 20px;
}

.resultText {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.resultHighlight {
	text-decoration: underline;
	color: red;
}

.tooltiptext {
	visibility: hidden;
	position: absolute;
	z-index: 1;
	border: 1px solid var(--font-color);
	padding: 4px;
	background-color: var(--primary-color);
}

.tooltip:hover .tooltiptext  {
	visibility: visible;
}


#footer {
	display: flex;
	align-self: flex-end;
}

#lightSwitch {
	text-decoration: none;
	cursor: pointer;
}

#lightSwitch:over {
	transform: rotate(180deg);
}

.noselect {
	/*Protect icon against accidental selection*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome and Opera */
}